@import url('http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900');

* {
    box-sizing:border-box;
}
 body{
     font-family:'Roboto', serif;
     overflow: hidden;
     margin: 0;
     background: #0CA088;
     height:100vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .container{
     width: 100%;
     display: flex;
     padding: 0 20px;
 }
 .slider{
     height: 80vh;
     border-radius: 20px;
     margin: 15px;
     cursor: pointer;
     color: white;
     flex: 1;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     position: relative;
     transition: all 500ms ease-in-out;
 }
 .slider h3{
     position: absolute;
     font-size: 24px;
     bottom: 20px;
     left: 20px;
     margin: 0;
     opacity: 0;
 }
 .slider.active{
     flex: 10;
 }
 .slider.active h3{
     opacity: 1;
     transition: opacity 0.3s ease-in
 }
